<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

<section class="py-5 container">
  <div class="py-lg-4">
    <%= form_tag(posts_path, {multipart: true}) do %>
      <div class="py-lg-2 col-lg-6 col-md-8 mx-auto border">
        <div class="mb-3">
          <label for="formFile" class="form-label">タイトル</label>
          <input class="form-control" name="title">
        </div>

        <div class="input-group mb-3">
          <input type="file" name="file" class="custom-file-input" id="formFile" accept=".pdf">
          <label class="custom-file-label" for="formFile" aria-describedby="inputGroupFileAddon">PDFファイル</label>
        </div>

        <input class="btn btn-primary" type="submit" value="投稿">
      </div>
    <% end %>
  </div>
</section>

<div class="mb-3">
  <%= render partial: "/tags/create_tag_form" %>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_tag_Modal">
    タグの追加・削除
  </button>

  <%= render partial: "/tags/search_tag_form" %>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#search_tag_Modal">
    タグの絞り込み
  </button>
</div>

<div class="dropdown" style="margin-bottom: 50px">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    並べ替え
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a id="asc_button" class="dropdown-item">昇順</a>
    <a id="desc_button" class="dropdown-item">降順</a>
  </div>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @posts.each do |post| %>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <div>
                <%= render partial: "tags/tag", collection: post.tags, as: :tag %>
              </div>

              <div>
                <a target="_blank" href="/pdf/<%= post.file_path %>" class="card-link">開く</a>
              </div>

              <%= link_to "編集", "tag_edit/#{post.id}", remote: true %>
              <div>
                  <%= render partial: "tags/tag", collection: post.tags, as: :tag %>
              </div>
              
              <div>
                  <%= link_to '削除', post, method: :delete, data: { confirm: "#{post.title}を本当に削除しますか？", cancel: 'やめる', commit: '削除する' }, title: '削除確認' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>